@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap&family=Montserrat:wght@100;400;700&display=swap");

header {
    background-color: rgba(83, 157, 139, 0.7);
    display: grid;
    grid-template-columns: 60% 40%;
}

body {
    background-color: #539D8B;
    color: #F5C5BE;
}

p {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: #F5C5BE;
    color: white;
    border-radius: 5px;
}

nav a {
    display: block;
    text-align: center;
    color: #F5C5BE;
    text-decoration: none;
    padding: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    margin-top: 190px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

#hero p {
    text-align: left;
    color: #F5C5BE;
    font-size: larger;
}

#hero h1 {
    text-align: left;
    color: #F5C5BE;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.latest-project {
    text-align: left;
    color: white;
    background-color: #F5C5BE;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.text {
    grid-column: 1/2;
    padding: 20px;
}

.image {
    grid-column: 2/3;
    padding: 10px
}

#title-project {
    border-bottom: 2px solid white;
    font-size: 1.2em;
}

.latest-project h2 {
 font-size: 2em;
}

#description-project {
    font-size: 1.5em;
}

#project-img {
    width: 100%;
    height: 100%;
}

.access-projects {
    background-color: white;
    color: #F5C5BE;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: 200px;
    text-align: center;
}

.access-projects:hover {
    background-color: #F5C5BE;
    color: white;
}

.purpose-section {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 40px;
}

.purpose-section h2 {
    font-size: 2em;
    border-bottom: 2px solid #F5C5BE
}

.purpose-section p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.about-me {
    background-color: white;
    color: #F5C5BE;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

.about-me:hover {
    background-color: #F5C5BE;
    color: white;
}

.approach-section {
    text-align: left;
    color: white;
    background-color: #F5C5BE;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.approach-section h2 {
    border-bottom: 2px solid white;
    font-size: 2em;
}

.approach-section p {
    font-size: 1.2em;
}

#approach-img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgba(83, 157, 139, 0.7);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F5C5BE;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

.social img {
    border-radius: 5px;
}

.site-plan {
    color: #F5C5BE;
}


/* Projects Page */
.rafting-company{
    color: white;
    background-color: #F5C5BE;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 40px
}

#hero-title {
    border-bottom: 2px solid #F5C5BE;
}

#title-rafting {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFF;
    
}

#rafting-nav {
    display: flex;
    justify-content: center;
}

#rafting-nav a {
    text-align: center;
    background-color: white;
    color: #F5C5BE;
    text-decoration: none;
    font-size: 30px;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    
    font-weight: bold;
    padding: 10px 20px;
    margin: 50px 50px;
    border-radius: 5px;
}

#rafting-nav a:hover {
    color: #FFF;
    background-color: #F5C5BE;
}

.rafting-img {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.my-portfolio{
    color: white;
    background-color: #F5C5BE;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 40px;
    margin-top: 50px;
}

.my-portfolio h2{
    border-bottom: 2px solid white;
}

.logo-portfolio {
    margin: 0 auto;
    width: 500px;
}

.logo-portfolio img {
    width: 100%;
    height: 250px;
}

.my-portfolio p {
    font-size: 1.2em;
}